<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

  <title>Social Up 👫</title>
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<!-- Navbar -->
<div style="width: 100%;">
  <nav class="navbar navbar-expand-lg navbar-light" style="background: rgb(246,223,244); background: radial-gradient(circle, rgba(246,223,244,1) 0%, rgba(249,245,235,1) 100%);">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <!-- Sol Tarafta Icon ve Social Up Yazısı -->
      <div class="d-flex align-items-center">
        <!-- Icon ve Yazı -->
        <a class="navbar-brand" href="/" style="font-style: italic; font-size: 30px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: black;">
          <img src="/images/favicon.ico" alt="Logo" style="display: inline-block; vertical-align: middle; margin-right: 10px;">
          Social Up
        </a>

        
      </div>

      <!-- Sağ Tarafta Profil Resmi, İsim-Soyisim ve Çekmece Tuşu -->
      <div class="ml-auto align-items-center">
        <!-- Profil Resmi, İsim-Soyisim -->
        <% if (user) { %>
          <div class="nav-item dropdown mr-3" style="cursor: pointer;">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display: flex;justify-content: center; align-items: center;color:rgb(79, 78, 78); font-size: 19px;">
              <img src="<%=user.image%>" alt="User Avatar" style="width: 32px; height: 32px; border-radius: 50%; margin-right: 5px;">
              <p class="m-0 ml-1">
                <%= user.name.charAt(0).toUpperCase() + user.name.slice(1) %> <%= user.surname.charAt(0).toUpperCase() + user.surname.slice(1) %>
              </p>
            </a>
            <div class="dropdown-menu" aria-labelledby="userDropdown">
              <a class="dropdown-item" href="/profile">Profile</a>
              <a class="dropdown-item" href="#">Settings</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Log Out</a>
            </div>
          </div>
        <% } %>

        <!-- Çekmece Tuşu -->
        
      </div>
    </div>

    
  </nav>
</div>










