<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <title>Social Up 👫</title>
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

  <!-- Navbar -->
<div style="position: fixed;width: 100%;">
  <nav class="navbar navbar-expand-lg navbar-light" style="background: rgb(246,223,244); background: radial-gradient(circle, rgba(246,223,244,1) 0%, rgba(249,245,235,1) 100%);">
    <div style="text-align: center;">
        <img src="/images/favicon.ico" alt="Logo" style="display: inline-block; vertical-align: middle;">
        <a class="navbar-brand" href="/" style="font-style: italic; font-size: 30px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; display: inline-block; vertical-align: middle; text-decoration: none; color: black;">Social Up</a>
    </div>
    
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <!-- Diğer navbar öğeleri -->
      </ul>
    </div>
  </nav>
</div>
